<h1><%= @task.title %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Top 5</h2>
      <div class="row">
        <ul>
            <% @user_tasks.each do |user_task| %>
            
            <div class="col-md-6">
                <li><%= user_task.user.email %></li>
            </div>
            <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Usuarios</h2>
      <ul>
        <% @user_task.each do |user| %>
          <li><%= user.user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%= link_to 'Back', tasks_path %>
